<%# if @task.errors.any? %>
  <%# @task.errors.full_messages.each do |message| %>
   <%# <p class="text-danger"><%= message %>
  <%# end %>
<%# end %>
<div class="container p-3 mt-3">
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control' %>
    <%= f.label :completed %>
    <%= f.check_box :completed, class: 'form-check' %>
    <% if f.check_box(true) %>
      <% @task.completed = true %>
    <% end %>
    <%= f.submit class: 'btn btn-primary mt-3' %>
  <% end %>
</div>
